exportClasses("Angle","UnitCell","ReciprocalUnitCell","BravaisType","Lattice","Symmetry")

exportMethods("angle","unitcell","reciprocalunitcell","bravaistype","lattice")
exportMethods("[","print","show","getFields","getParameters","getData")

## To be deleted after package completion
export(".translate_SG",".findHM")
